{% block content %}
    <h1>Business Info Detail:
    </h1>

    
        <table width="20%" cellpadding="0" cellspacing="1" border="1" class="" bgcolor="#ffffff" align="center">
            <tr>
                <th></th><th>Information</th>
            </tr>
            <tr>
                <td>Business name</td><td>{{ business.name }}</td>
            </tr>
            <tr>
                <td>Description</td><td>{{ business.description }}</td>
            </tr>
            <tr>
                <td>Employee Size</td><td>{{ business.employee_size }}</td>
            </tr>
            <tr>
                <td>Office Phone </td><td>{{ business.phone_number }}</td>
            </tr>
            <tr>
                <td>Owner</td><td>{{ business.owner_name }}</td>
            </tr>
            <tr>
                <td>Owner Phone</td><td>{{ business.owner_phone_number }}</td>
            </tr>
            <tr>
                <td>Website</td><td>{{ business.website }}</td>
            </tr>
        </table>
    <p><a href="{% url 'business_list' %}">Return to Listing page</a></p>
{% endblock %}